<div class="container-fluid">
  <div class="formulario container">
    <div class="section nro1">
      <div class=" row title-section title-1 ">
        <div class="col-md-7 col-title-section1">
          <div class="row">
          <i (click)="volver()" class ="fas fa-arrow-left btnVolver"></i><h5 class="title is-4">Detalles del documento</h5>
        </div>
        </div>
      </div>
      <div class=" row detail-section  ">
        <div class="col-md-4 detail-col-1">
          <div class="row campo f1"><h6>Código de Ramo</h6></div>
          <div class="row valor f2">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.codigoRamo | number }}"
            />
          </div>
          <div class="row campo f3">Fecha de emisión de la póliza</div>
          <div class="row valor f4">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.fechaEmisionPoliza }}"
            />
          </div>
          <div class="row campo f5"><h6>Descripción del movimiento</h6></div>
          <div class="row valor f6">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.descripcionMovimiento }}"
            />
          </div>
          <div class="row campo f7"><h6>Concepto de Ventas</h6></div>
          <div class="row valor f8">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.conceptoVenta }}"
            />
          </div>
          <div class="row campo f9"><h6>Usuario de anulación</h6></div>
          <div class="row valor f10">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.usuarioAnulacion }}"
            />
          </div>
          <div class="row campo f11"><h6>Importe base</h6></div>
          <div class="row valor f12">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.importeBase | separadorMiles }}"
            />
          </div>
          <div class="row campo f13"><h6>Importe cuota impuesto</h6></div>
          <div class="row valor f14">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.importeCuota | separadorMiles }}"
            />
          </div>
        </div>
        <div class="col-md-4 detail-col-2">
          <div class="row campo f1"><h6>Número de póliza</h6></div>
          <div class="row valor f2">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.numeroPoliza }}"
            />
          </div>
          <div class="row campo f3"><h6>Usuario</h6></div>
          <div class="row valor f4">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.codigoUsuario }}"
            />
          </div>
          <div class="row campo f5">
            <h6>Tipo de documento que modifica</h6>
          </div>
          <div class="row valor f6">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.tipoDocumentoModificado }}"
            />
          </div>
          <div class="row campo f7"><h6>Estados</h6></div>
          <div class="row valor f8">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.estado }}"
            />
          </div>
          <div class="row campo f9"><h6>Valor de cambio</h6></div>
          <div class="row valor f10">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.valorCambio | separadorMiles }}"
            />
          </div>
          <div class="row campo f11"><h6>Importe de intereses</h6></div>
          <div class="row valor f12">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.importeIntereses | separadorMiles }}"
            />
          </div>
        </div>
        <div class="col-md-4 detail-col-3">
          <div class="row campo f1"><h6>Número de suplemento</h6></div>
          <div class="row valor f2">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.numeroSuplemento | number }}"
            />
          </div>
          <div class="row campo f3"><h6>Fecha de libro</h6></div>
          <div class="row valor f4">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.fechaLibro }}"
            />
          </div>
          <div class="row campo f5">
            <h6>Número de documento que modifica</h6>
          </div>
          <div class="row valor f6">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.numeroDocumentoModificado | number }}"
            />
          </div>
          <div class="row campo f7"><h6>Fecha de anulación</h6></div>
          <div class="row valor f8">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.fechaAnulacion }}"
            />
          </div>
          <div class="row campo f9"><h6>Importe exento</h6></div>
          <div class="row valor f10">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.importeExento | separadorMiles }}"
            />
          </div>
          <div class="row campo f11"><h6>Importe de recargo</h6></div>
          <div class="row valor f12">
            <input
              class="justify form-control"
              disabled
              value="{{ factura?.importeRecargo | separadorMiles }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comentarios container">
    <div class="section nro2">
      <div class=" row title-section title-1 ">
        <div class="col-md-12 col-title-section1">
          <h5 class="title is-4">Comentarios de la factura</h5>
        </div>
      </div>
      <div class="row comentarios-row ">
        <div class="mat-elevation-z8 ">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="codigoUsuario">
              <th mat-header-cell *matHeaderCellDef>Usuario</th>
              <td mat-cell *matCellDef="let element">
                {{ element.codigoUsuario }}
              </td>
            </ng-container>
            <ng-container matColumnDef="codigoTipoCorreccion">
              <th mat-header-cell *matHeaderCellDef>Tipo de Corrección</th>
              <td mat-cell *matCellDef="let element">
                {{ element.codigoTipoCorreccion }}
              </td>
            </ng-container>

            <ng-container matColumnDef="observacion">
              <th mat-header-cell *matHeaderCellDef>Observación</th>
              <td mat-cell *matCellDef="let element">
                {{ element.observacion }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <!-- <mat-paginator
            [length]="length"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            (page)="callPagination($event)"
            showFirstLastButtons
          >
          </mat-paginator> -->
        </div>
      </div>
    </div>
    <div class="sin-comentarios container" *ngIf="comentarios?.length == null">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert">
            --------Sin comentarios--------
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="cargando" class="loading-div"><img src="assets/img/loader.gif"></div>