.container-fluid {
  background: #fff;
  width: 100%;
  height: 100%;
}
.formulario {
  width: 100%;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3%;
  height: 100%;
  padding-bottom: 3%;
}
.nro1 {
  width: 100%;
}
.detail-section {
  width: 100%;
  height: 100%;
}
.campo {
  color: #4e5452;
  padding-left: 2%;
  padding-top: 5%;
  font-size: medium;
}
.input {
  width: 100%;
  font-size: small;
}
.valor {
  width: 100%;
}
input {
  width: 100%;
  border: none;
  font-size: medium;
  color: gray;
  align-content: center;
}
input:disabled {
  background-color: #eeeded;
}
.justify {
  padding-left: 2%;
}
.value {
  padding-left: 2px;
}
.detail-section {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  align-content: center;
  background: white;
  width: 100%;
}
.detail-col-1 {
  /* margin-right: 4%;
  margin-left: 4%; */
  height: 100%;
}
.detail-col-2 {
  /* margin-right: 4%;
  margin-left: 4%; */
  height: 100%;
}
.detail-col-3 {
  /*  margin-left: 4%;
  margin-right: 4%; */
  height: 100%;
}
.nro2 {
  width: 100%;
}
.comentarios {
  margin-top: 1%;
  background: white;
  margin-bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mat-elevation-z8 {
  width: 100%;
}
.mat-table {
  width: 100%;
}
th {
  font-weight: normal;
  font-size: medium;
  align-content: center;
  color: #c10003;
}
td {
  font-weight: normal;
  font-size: medium;
  text-align: center;
}
.mat-cell {
  color: #4e5452;
  border-bottom-style: inset;
}

th.mat-header-cell {
  border-bottom-width: 0px;
  text-align: center;
}

th.mat-header-cell {
  border-bottom-width: 0px;
  text-align: center;
}
.header-cell:first-of-type {
  padding-left: 24px;
}
.alert {
  text-align: center;
  color: #4e5452;
}

.btnVolver {
  padding: 1%;
  margin-right: 1%
}


.loading {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.loading .img {
  width: 120px;
}

.loading-div {
	position: fixed;
	z-index: 999;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-div img {
	display: block;
	position: fixed;
	/* or absolute */
	top: 33%;
	left: 43%;
}


/* Transparent Overlay */

.loading-div:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}


/* :not(:required) hides these rules from IE9 and below */

.loading-div:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}


@media (min-width: 992px) {
  .container {
    max-width: 100%;
    max-height: 100%;
  }
}
