.container{
  max-width: 100%;
  max-height: 100%;
  margin-top: 3%;
  padding-bottom: 3%;
  zoom: 85%;
}
input {
  width: 100%;
  border: none;
  font-size: small;
  align-content: center;
}
textarea {
  width: 100%;
  border: none;
  align-content: center;
}

select {
  width: 100%;
  border: none;
  align-content: center;
}

title {
  padding: 3%;
  position: relative;
}

h5 {
  color: #eeeded;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: inherit;
}
.mat-card{
  border-radius: 0px;
}
/* Style the form - display items horizontally */
.f {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  }
  .botones-section {
    width: 100%;
    padding-top: 15%;
  }
  .col-md-6 {
    width: 100%;
  }
  .btn-lg {
    width: 100%;
    font-size: medium;
  }
  
.card-header{
  background: #c10003;
}
.mat-card{
  padding:0px;
}
.mat-card-header{
  background: #c10003;
  padding: 0px;
}
.seccion-listado{
  margin-top: 20px;
  padding: 0px;
}
.seccion-tomador{
  margin-top: 20px;
  margin-bottom: 20px;
}
.seccion-filtro{
  padding-bottom: 30px;
  padding-top: 30px;
}

.seccion-publico{
  padding-bottom: 10px;
}
.icono-imagen{
  color: #c10003;
  width: 25px;
  height: 25px; 
}
.texto{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  color: #1a1a1a;
}
.seccion-imagen{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
  margin: auto;
}
.btn-danger{
  background: #c10003;
}
.imagen{
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.seccion-datos{
  overflow-x:scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
/*
* CSS para el gif cargando*/
.loading {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.loading .img {
  width: 120px;
}

.loading-div {
	position: fixed;
	z-index: 9999;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-div img {
	display: block;
	position: fixed;
	/* or absolute */
	top: 33%;
	left: 43%;
}

.no-data {
	text-align: center;
	margin-bottom: 50px;
  margin-top: 150px;

}
.fa {
  font-size: 32px;
}

/***CSS modal visualizar documentos 
****/


.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}


.seccion-info{
  padding-left: 50px;
  padding-top: 10px;
}

.info-datos{
  font-weight: bold;
 
}
.size{
  font-size: 120%;
}

.botones{
  margin-right: 5px;
}


