.barra {
  background: #c10003;
  padding: 1% 1% 1% 1%;
}
.title-link {
  color: white;
}
.logout {
  color: white;
}

.link {
  float: right;
}

.btn-logout{
  color:white;
}


.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #dddddd !important;
	color: #9d9d9d;
}

.nav-list>li>a {
	color: #C4C4C4;
	font-size: 13px;
	padding-left: 7% !important;
	border-bottom: 1px solid #585858;
}

.nav-list>li>a:hover {
	background-color: #444444;
}

.navbar-default {
	background-color: #c10003 !important;
	border-color: #c10003 important;
}

.navbar-brand {
	padding: 0px !important;
}

.navbar-default .navbar-brand {
	width: 100% !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fff !important;

	background-color: #c10003c9 !important;
}

.side-nav {
	background-color: #eaeaea !important;
}

.navbar-default .navbar-nav>li>a {
	color: #c10003 !important;
}

.side-nav .btn.action {
	background: #c10003 !important;
}

.side-nav>li>ul>li>a {
	display: block;
	padding:6%;;
	text-decoration: none;
	color: #c10003;
}

.nav-list li a {
	border-bottom: 1px solid #dddddd !important;
}

.navbar-right{
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.navbar-brand img{width:46%}

.dropdown-menu {
	min-width: inherit !important;
	width: 180px;
	position: absolute;
	background: #fff;
	color: #fff;
	text-align: left;
	font-weight: 700;
	border: solid 1px #d1e8e8;
	left: 35%;
	top: 67%;
	padding: 0 !important;
}
/* @media (min-width: 1200px) {
  .title-link {
    width: 100%;
  }
  .logout {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .title-link {
    width: 100%;
  }
  .logout {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .title-link {
    width: 100%;
  }
  .logout {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .title-link {
    width: 100%;
  }
  .logout {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .title-link {
    width: 0%;
  }
  .btn {
    padding-right: 10%;
  }
} */
/* .estilo{
 background: #e41305;
 width: 100%;
}



@media (max-width: 1024px){
  .estilo{
    width: 80%;
  }
}

@media (max-width: 800px){
  .estilo{
    width: 60%;
  }
} */

.dropdown-menu {
	min-width: inherit !important;
	width: 180px;
	position: absolute;
	background: #fff;
	color: black;
	text-align: left;
	font-weight: 700;
	border: solid 1px #d1e8e8;
	left: 35%;
	top: 67%;
	padding: 0 !important;
}

.dropdown-item {
  display: block;
   width: 100%;
   padding: 3% 4% 3% 4%;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
}

.textoMenu{
  color: #4e5452 !important;
  margin-left: 5%;
}