<div class="row  barra ">
  <div class="title  col-10 col-sm-8 col-md-10 col-lg-10 col-xl-10">
    <a class="title-link navbar-brand" (click)="goHome()"
      ><img src="assets/img/cabecera.png"></a
    >
  </div>
 <!-- <div class="logout col-md-2 ">
    <div class="link">
      <button class ="btn btn-lg btn-block btn-logout" (click)="logout()">Salir</button>
    </div>
  </div>-->
  <ul class="nav navbar-right top-nav col-md-2" *ngIf="usuarioService.getUserLoggedIn()">
      <li  class="dropdown logout">
          <a  class="dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user-circle"></i> {{nombreUsuario}}<b class="caret">                  
              </b>
          </a>
          <ul class="dropdown-menu" style="transform: translate3d(0px, 20px,0px)">
                <li>
                    <a class="dropdown-item" (click)="logout()" ><i class="fas fa-power-off"></i> Salir</a>
                    <!--<a ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Salir</a>-->
                </li>
            </ul>
         <!-- <div class="dropdown-menu">
                  <a class="textoMenu" (click)="logout()" ><i class="fas fa-power-off"></i> Salir</a>
            </div>-->
      </li> 
     
  </ul>
</div>
