
<div class="modal-header">
  <h4 class="modal-title">Agregar Motivo</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="comentarioForm" >
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          Tipo de corrección
        </div>
        <div class="col-md-6">
          Tipo de gestión
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- <input type="text" class="justify form-control" formControlName="codigoTipoCorreccion" />-->
          <select class="justify form-control" formControlName="codigoTipoCorreccion" [required]="true">
            <option value="">Seleccionar</option>
            <option *ngFor="let correccion of tipoCorreciones" value="{{correccion.codigoValor}}">{{correccion.nombreValor}}</option>
          </select>
          <div *ngIf="f.codigoTipoCorreccion.invalid && (f.codigoTipoCorreccion.dirty || f.codigoTipoCorreccion.touched)"
               class="alert alert-danger">
            <div *ngIf="f.codigoTipoCorreccion.errors.required">
              Este campo es requerido
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <select class="justify form-control" formControlName="codigoEstado" [required]="true">
            <option value="">Seleccionar</option>
            <option *ngFor="let gestion of tipoGestiones" value="{{gestion.codigoValor}}">{{gestion.nombreValor}}</option>
          </select>
          <div *ngIf="f.codigoEstado.invalid && (f.codigoEstado.dirty || f.codigoEstado.touched)"
               class="alert alert-danger">
            <div *ngIf="f.codigoEstado.errors.required">
              Este campo es requerido
            </div>
          </div>
        </div>
      </div>


    </div>
    <br>
    <div class="col-md-12">

      Comentario

      <textarea style="resize: none !important;" type="text" rows="5" class="justify form-control rounded-0" formControlName="observacion" [required]="true">
              </textarea>
      <div *ngIf="f.observacion.invalid && (f.observacion.dirty || f.observacion.touched)"
           class="alert alert-danger">
        <div *ngIf="f.observacion.errors.required">
          Este campo es requerido
        </div>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer">

  <button class="btn btn-danger"  (click)="onSubmitComentario()" [disabled]="comentarioForm.invalid" >Guardar</button>

  <button type="button" class="btn btn-secondary  " (click)="decline()"> Cancelar</button>

</div>
