.container-fluid {
  background: #fff;
  width: 100%;
  height: 100%;
}
.grilla {
  width: 100%;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3%;
  height: 100%;
  padding-bottom: 3%;
}
.nro1 {
  width: 100%;
}
.filter-section {
  width: 100%;
  height: 100%;
}

.campo {
  color: #4e5452;
  /*padding-left: 2%;*/
  padding-top: 5%;
  font-size: medium;
  margin-left: 0px;
}
.input {
  width: 100%;
  font-size: small;
}
.valor {
  color: #b2b3b4;
  /*height: 20px;*/
  width: 100%;
  margin-left: 0px;
}
input {
  width: 100%;
  border: none;
  font-size: small;
  color: #b2b3b4;
  align-content: center;
}
textarea {
  width: 100%;
  border: none;
  font-size: small;
  color: #b2b3b4;
  align-content: center;
}

select {
  width: 100%;
  border: none;
  font-size: small;
  color: #b2b3b4;
  align-content: center;
}

.justify {
  padding-left: 2%;
}
.value {
  padding-left: 2px;
}
.detail-section {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  align-content: center;
  background: white;
  width: 100%;
}
table {
  width: 100%;
  background: white;
}
.mat-header-cell {
  background: #eeeded;
}

.nro2 {
  margin-top: 1.5rem;
  width: 100%;
}
/* .tabla-factura {
  width: 100%;
} */
.tabla-paginada {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-elevation-z8 {
  width: 100%;
}
title {
  padding: 3%;
  position: relative;
}
h5 {
  color: #eeeded;
  padding-top: 2%;
  padding-bottom: 1%;
}
th {
  font-weight: normal;
  font-size: small;
  align-content: center;
  color: #c10003;
}
td {
  font-weight: normal;
  font-size: small;
  text-align: center;
}
.mat-cell {
  border-bottom-style: inset;
}
th.mat-header-cell {
  border-bottom-width: 0px;
  text-align: center;
}

.cdk-column-action {
  padding-left: 24px;
}
.mat-cell {
  color: #4e5452;
}
.mat-elevation-z8 {
  background-color: #eeeded;
}
.tabla-factura {
  margin-bottom: 1%;
}
.botones-section {
  width: 100%;
  padding-top: 15%;
}
.col-md-6 {
  width: 100%;
}
.btn-lg {
  width: 100%;
  font-size: medium;
}
.modal-header{
  border-bottom:1px solid  #c10003;
 
}
.modal-title{
  text-align: center;
}


.loading {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.loading .img {
  width: 120px;
}

.loading-div {
	position: fixed;
	z-index: 9999;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-div img {
	display: block;
	position: fixed;
	/* or absolute */
	top: 33%;
	left: 43%;
}


/* Transparent Overlay */

.loading-div:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}


/* :not(:required) hides these rules from IE9 and below */

.loading-div:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.logmensaje{color: #c10003;
  text-align: center;
  font-size: 14px;
  padding-bottom: 2%;
  /* border: solid 1px #ccc; */
  padding: 4%;
   background: #c1000317; 
  border-radius: 3px;
  }

  .espacioArriba {
    margin-top: 2%
  }

  .alineacionDerecha {
    display: flex;
    justify-content: flex-end;
  }


@media (min-width: 992px) {
  .container {
    max-width: 100%;
    max-height: 100%;
  }
}
