/*
* CSS para el gif cargando*/
.loading {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.loading .img {
  width: 120px;
}

.loading-div {
	position: fixed;
	z-index: 9999;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-div img {
	display: block;
	position: fixed;
	/* or absolute */
	top: 33%;
	left: 43%;
}
.seccion-eliminar{
	padding-left: 20px;
    margin-top: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
} 
  

