
<div class="modal-header" >
  <h4 class="modal-title">Eliminar Documento</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="seccion-eliminar">      
    <p><span>Esta seguro que desea eliminar </span><span>{{nombre}}?</span></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()"> Cancelar</button>
  <button class="btn btn-danger" (click)="deleteDocumento()">Eliminar</button>
</div>

  <div *ngIf="cargando" class="loading-div">
    <img src="assets/img/loader.gif" />
</div>
  
 

          
          
