<!--<div class="container-fluid">
  <div class="row login-row">
    <div class="col-0 col-sm-3 col-md-4"></div>
    <div class="col-12 col-sm-6 col-md-4">
      <mat-card class="login">
        <div class="section img">
          <img src="assets/img/cabecera.png" class="card-img-top" alt="" />
        </div>

        <div class="section content">
          <div class="title">
            <p class="text-muted">
              Inicio de sesión
            </p>
          </div>
          <mat-card-actions>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                #username
                name="username"
                placeholder="Usuario"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                #password
                name="password"
                class="form-control"
                placeholder="***********"
              />
            </div>
            <button
              type="submit"
              (click)="logIn(username.value, password.value, $event)"
              id="login-button"
              class="btn btn-danger btn-block"
            >
              Ingresar
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
    <div class="col-0 col-sm- col-md-4"></div>
  </div>
</div>-->

<div class="form-signin">
 
    <div class="login-wrap login-form">
        <h1 style=" text-align: center;"><img src="assets/img/cabecera.png" style="padding: 0% 0% 5% 0%; width: 100%;"></h1>
        <h6 *ngIf="hayMensaje" class="logmensaje">{{mensaje}}</h6>
        <div class="user-login-info">
            <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  #username
                  name="username"
                  placeholder="Usuario"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  #password
                  name="password"
                  class="form-control"
                  placeholder="***********"
                  autocomplete="off"
                  (keyup.enter)="logIn(username.value, password.value, $event)"
                />
              </div>
             
          </div>
          <button
          type="submit"
          (click)="logIn(username.value, password.value, $event)"
          id="login-button"
          class="btn btn-lg btn-login btn-block "
        >
          Ingresar
        </button>
        <h6  class="logmensaje" style="text-align: right; background: none !important ">
            {{version}}
        </h6>
      </div>
   

</div>
