.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login {
  margin-top: 20%;
  background-color: white;
  width: 20rem;

  text-align: center;
}
.title {
  margin-top: 2rem;
}
.img {
  width: 100%;
  background: #c10003;
}

.form-signin {
	max-width: 330px;
	margin: 100px auto;
	background: #d6dbdb70;
	border-radius: 1px !important;
	-webkit-border-radius: 5px;
	padding-bottom: 2%;
	border: solid #17928b0a 2px;
	padding: 2%;
}

.form-signin .btn {
	background: #c10003 !important;
	margin-top: 8%;
	border: 1px solid #dce1e8;
	color: #fff !important;
}

.login-form select,
.login-form textarea {
	outline: 0!important;
	border-top: inherit!important;
	border-left: inherit!important;
	border-right: inherit!important;
	border-radius: 0!important;
}


.login-form .user-login-info input,
.login-form select,
.login-form textarea {
	outline: 0!important;
	border-top: inherit!important;
	border-left: inherit!important;
	border-right: inherit!important;
  border-radius: 0!important;
}

input:-internal-autofill-selected {
  background-color: white !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

.logmensaje{color: #c10003;
  text-align: center;
  font-size: 18px;
  padding-bottom: 2%;
  /* border: solid 1px #ccc; */
  padding: 4%;
   background: #c1000317; 
  border-radius: 3px;
  }


