<div class="modal-header" >
    <h4 class="modal-title">Editar Documento</h4>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onPostFormSubmit()"> 
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p><label class="control-label control-label-left" for="nombre">Nombre: {{nombre}}</label></p>
          <p><label class="control-label control-label-left" for="subTipoDocumento">Sub-Tipo Documento</label>
          <select class="justify form-control" formControlName="subTipoDocumento" (change)="habilitarInputs($event.target.value)">
          <option value="">Seleccionar</option>
          <option *ngFor="let opcion of subTipoDocumentos" value="{{opcion.TIP_DOCUM}}">{{opcion.NOM_DOCUM}}</option>
          </select></p>
          <div class="alert alert-danger" *ngIf="form.get('subTipoDocumento').touched && form.get('subTipoDocumento').hasError('required')">
          Seleccione un subtipo de documento.</div>
          <!--<p><label class="control-label control-label-left" for="nombre">Nombre</label>
          <input class="justify form-control " formControlName="nombre"/></p>
          <div  class="alert alert-danger" *ngIf="form.get('nombre').touched && form.get('nombre').hasError('required')">
          Este campo es obligatorio.</div>
          <div  class="alert alert-danger" *ngIf="form.get('nombre').touched && form.get('nombre').hasError('pattern')">
          Ingrese solo letras y/o numeros.</div>   --> 
          <p *ngIf="inputFecha "><label class="control-label control-label-left"  for="fechaVencimiento">Fecha de Vencimiento</label>
          <input type="date" class="justify form-control " formControlName="fechaVencimiento"/></p>
          <p *ngIf="inputIngreso"><label class="control-label control-label-left" for="importeIngreso">Importe de Ingreso</label>
          <input class="justify form-control " formControlName="importeIngreso"/></p>
          <div  class="alert alert-danger" *ngIf="form.get('importeIngreso').touched && form.get('importeIngreso').hasError('pattern')">
          Ingrese solo numeros.</div> 
        </div>
        <div class="col-sm">
          <div class="column">
            <div class="containerImagen">
              <img [src]="sanitizer.bypassSecurityTrustUrl(img)"/>
            </div>
          </div>            
        </div>
      </div>
    </div>   
  </form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" (click)="onClose()"> Cancelar</button>
<button class="btn btn-danger" style="background: #c10003" [disabled]="form.invalid || inputIngreso && form.get('importeIngreso').value ==''||inputFecha && form.get('fechaVencimiento').value ==''" (click)="onPostFormSubmit()" >Guardar</button>
</div> 
  
<div *ngIf="cargando" class="loading-div">
    <img src="assets/img/loader.gif" />
</div>
    
   
  