
  .input-wrapper {
    padding-top: 15px;

  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }


  .fileInput{
    display: none;
  }

  .seccion-boton{
    margin-top: 15px;
    color: #ffffff;
  }
  .containerImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .container img
  {
    max-width:100%;
    max-height:100%;
  }


  /*
  * CSS para el gif cargando*/
  .loading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  }

  .loading .img {
  width: 120px;
  }

  .loading-div {
  position: fixed;
  z-index: 9999;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  }

  .loading-div img {
  display: block;
  position: fixed;
  /* or absolute */
  top: 33%;
  left: 43%;
  }