/* You can add global styles to this file, and also import other style files */

div {
  overflow-x: hidden;
}
body {
  background: #fff;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

/* TOASTR BUGFIX */
.toast-bootstrap-compatibility-fix {
  opacity:1;
  position: fixed;
  top: 40px;
  height: 100px;
  right: 0;
  z-index: 10000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
}

.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;

}
.toast-success {
  background-color: #51A351 !important;
  color:white;
}
.toast-error {
  background-color: #BD362F !important;
  color:white;
}
.toast-info {
  background-color: #2F96B4 !important;
  color:white;
}
.toast-warning {
  background-color: #F89406 !important;
  color:white;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

.form-control {
  display: block;
  width: 100%;
  height: 35px ;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  -webkit-transition: inherit;
}
.title-section {
  background: #c10003;
  color: #eeeded ;
  padding: 1% 1% 0.1% 1%;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  background: #c10003;
  color: #eeeded ;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  color: white;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 180px !important;
}
.mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 56px !important;
  padding: 0 20px !important;
  flex-wrap: wrap-reverse;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.footer-paginator {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
